.header {
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 23px;
    padding-bottom: 42px;
    width: 100%;
    background-image: url(../img/ФОН@1X.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: #fff;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.title {
    position: relative;
    margin: 0 auto;
    z-index: 0;
    background-color: #08325e;
    padding: 35px 39px 39px 38px;
    z-index: 3;
}

.title::after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    width: 100%;
    height: 100%;
    background-color: #08325e;
    opacity: 0.6;
}

.title__img {
    width: 96%;
    position: relative;
    z-index: 10;
}

.video {
    max-width: 1311px;
    min-height: 600px;
    width: 100%;
    background-color: #fff;
    padding-bottom: 42px;
    margin: 0 auto;
    z-index: 3;
}

.blog {
    position: absolute;
    top: -157px;
    right: 0;
    max-width: 365px;
}

@media (max-width: 1648px) {
    .container {
        max-width: 1000px;
    }
}

@media (max-width: 1464px) {
    .container {
        max-width: 900px;
    }
}

@media (max-width: 1370px) {
    .container {
        width: 96%;
    }
    .blog-img {
        max-width: 400px;
    }
    .blog {
        margin-left: 10px;
        top: -120px;
        right: -70px;
    }
}

@media (max-width: 1229px) {
    .container {
        width: 94%;
    }
}

@media (max-width: 1069px) {
    .container {
        width: 50%;
    }
    .blog-img {
        max-width: 325px;
    }
    .blog {
        top: -100px;
    }
}

@media (max-width: 976px) {
    .container {
        width: 40%;
    }
    .blog-img {
        max-width: 260px;
    }
    .blog {
        top: -78px;
        right: 30px;
    }
}

@media (max-width: 734px) {
    .container {
        width: 40%;
    }
    .blog-img {
        max-width: 200px;
    }
    .blog {
        top: -45px;
        right: 30px;
    }
}

@media (max-width: 734px) {
    .container {
        width: 96%;
    }
    .blog-img {
        max-width: 200px;
    }
    .blog {
        top: -45px;
        right: 30px;
    }
}